<nav class="navbar navbar-lught bg-info">
  <%= link_to "TestGuru", root_path, class: "text-dark navbar-brand" %>.
  <b> Admin Panel</b>
  <span class="navbar-text">
    <%= t('.welcome')%><b class="nav-admin user-email"><%= current_user.name %></b><%=t('.guru')%> |
    <%= link_to t('.link_exit'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
