<div class="row justify-content-center mt-3">
  <div class="col-auto">

    <div class="card-body">
      <div class="card-header">Passing the "<%= @test_passage.test.title %>" test</div>

      <% if @test_passage.test.duration > 0 %>
        <span id="time-end-point" class="hide"><%= @test_passage.time_end_point.to_f %></span>
        <p align="center">
          Time limit: <span id="duration"><%= @test_passage.test.duration %></span> min.
          Left: <span id="timer"></span>
        </p>
      <% end %>
    </div>

    <div class="card-body">
      <div class="card-title">
        Current question №:<%= @test_passage.number_current_question %>;
        Total questions:<%= @test_passage.test.questions.count %>
      </div>
    </div>

    <%= content_tag :div, class: "progress",
                    data: {
                      number_of_current_question: "#{@test_passage.number_current_question}",
                      total_questions: "#{@test_passage.test.questions.count}"
                    } do %>

      <%= content_tag :div, class: 'progress-bar bg-success',
                      role: "progressbar",
                      aria_valuemin: "0",
                      aria_valuemax: "100" do %>
      <div id="label"> 0%</div>
      <% end %>
    <% end %>

    <div class="card">
      <div class="card-header"><b><%= @test_passage.current_question.body %></b></div>
    </div>


    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false  do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object_id}" %>
          <%= b.label %>
        </p>
      <% end %>

      <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>

      <p><%= link_to 'Contact Us', new_contact_path %></p>

      <p><%= form.submit 'Next' %></p>
    <% end %>

  </div>
</div>
