<div class="row justify-content-center mt-3 ">
  <div class="col-auto">

    <h2 ><%= t('.header') %></h2>

      <table class="table table-sm ">
        <thead>
          <tr class="table-active">
            <th scope="col"><%= t('.header_t') %></th>
            <th scope="col"><%= t('.header_l') %></th>
            <th scope="col"><%= t('.header_q') %></th>
          </tr>
        </thead>
        <%= render @tests %>
      </table>

  </div>
</div>
